<h2>Members</h2>

<h2>Group creator: @Model.GroupAdmin.UserName</h2>

<h2>Group moderators</h2>
@foreach (DigitalSchoolGroups.Models.ApplicationUser moderator in Model.Moderators)
{
    <h3>Email: @moderator.UserName </h3>
    <h4>Actions: </h4>
    if (ViewBag.currentUserObject.IsModeratorOf(Model) || ViewBag.showButtons)
    {
        <form method="post" action="/Groups/Members" style="display:inline;">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <input type="hidden" name="groupId" value="@Model.Id" />
            <input type="hidden" name="userId" value="@moderator.Id" />
            <button class="btn btn-danger btn-sm" type="submit">Kick</button>
        </form>
        <form method="post" action="/Groups/Members" style="display:inline;">
            @Html.HttpMethodOverride(HttpVerbs.Put)
            <input type="hidden" name="groupId" value="@Model.Id" />
            <input type="hidden" name="userId" value="@moderator.Id" />
            <button class="btn-success btn-sm" type="submit">Make member</button>
        </form>
    }
    <br />
}

<h2>Group members</h2>
@foreach (DigitalSchoolGroups.Models.ApplicationUser member in Model.Users)
{
    <h3>Email: @member.UserName </h3>
    <h4>Actions: </h4>
    if (ViewBag.currentUserObject.IsModeratorOf(Model) || ViewBag.showButtons)
    {
        <form method="post" action="/Groups/Members" style="display:inline;">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <input type="hidden" name="groupId" value="@Model.Id" />
            <input type="hidden" name="userId" value="@member.Id" />
            <button class="btn btn-danger btn-sm" type="submit">Kick</button>
        </form>
        <form method="post" action="/Groups/Members" style="display:inline;">
            @Html.HttpMethodOverride(HttpVerbs.Put)
            <input type="hidden" name="groupId" value="@Model.Id" />
            <input type="hidden" name="userId" value="@member.Id" />
            <button class="btn-success btn-sm" type="submit">Make moderator</button>
        </form>
    }
    <br />
}