@model DigitalSchoolGroupsPlatform.Models.Group

<br />
@*<a href="/Groups/Index">Back&nbsp;<i class="glyphicon glyphicon-home"></i></a>*@
<br />
<br />
<div class="panel panel-primary">
    @Html.Partial("GroupInfo", Model)

    @if (ViewBag.currentUserObject.IsModeratorOf(Model) && ViewBag.showButtons || ViewBag.isAdmin)
    {
        <div class="panel-footer">
            <a class="btn btn-info btn-sms pull-left" href="/Groups/Edit/@Model.Id">Edit</a>

            @using (Html.BeginForm(actionName: "Delete", controllerName: "Groups",
                method: FormMethod.Post, routeValues: new { id = Model.Id }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)

                <button class="btn btn-danger btn-sm pull-right" type="submit">Delete</button>
            }

            <div class="clearfix"></div>
        </div>
    }

</div>

@if (ViewBag.currentUserObject.IsModeratorOf(Model) && Model.Requests != null)
{
    foreach (var user in Model.Requests)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p>@user.UserName</p>
                        <form method="post" action="/Groups/JoinRequest">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <input type="hidden" name="groupId" value="@Model.Id" />
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button class="btn btn-danger" type="submit">Decline</button>
                        </form>

                        <form method="post" action="/Groups/JoinRequest">
                            <input type="hidden" name="groupId" value="@Model.Id" />
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button class="btn btn-success" type="submit">Accept</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
}
<br />

@if (Model.Messages != null)
{
    foreach (var message in Model.Messages)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p>@message.Content</p>
                        <small class="pull-right">@message.Date</small>
                        <i class="glyphicon glyphicon-user"></i> <i>written by</i>
                        <strong> @message.User.UserName </strong>
                    </div>

                    @if (message.UserId == ViewBag.currentUser || ViewBag.isAdmin)
                    {
                        <div style="display: inline-block; float : left; margin-right: 15px">
                            <a class="glyphicon glyphicon-pencil" href="/Messages/Edit/@message.MessageId"></a>
                        </div>
                        <div style="display: inline-block; float : left">
                            <form method="post" action="/Messages/Delete/@message.MessageId">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                            </form>
                        </div>
                    }

                </div>
            </div>
        </div>
        <hr />
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Groups/Show/@Model.Id">
                    <div class="panel-body">
                        <input type="hidden" name="GroupId" value="@Model.Id" />
                        <label>Message content</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
                        <br />
                        <button class="btn btn-primary" type="submit">Post message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
