
<h2>New activity</h2>

<form method="post" action="/Activities/New">
    <input type="hidden" name="GroupId" value="@ViewBag.GroupId" />

    @Html.Label("Title", "Title:")
    <br />

    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "Description:")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-success" type="submit">Add activity</button>
</form>
