@{

    ViewBag.Title = "Users Information";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@foreach (var user in ViewBag.UsersList)
{
    <div class="panel-heading">
        User's name: @user.UserName
    </div>

    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i>User's email: 
        <span class="label label-default">@user.Email</span>
        <br /><br />

        @if (@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:User's phone:
            <span class="label label-default">@user.PhoneNumber</span>
        }
    </div>

    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">Edit user info</a>
        <a class="btn btn-sm btn-success" href="/Users/Show/@user.Id">View user info</a>
    </div>

    <br /><br />
}
