@model DigitalSchoolGroups.Models.ApplicationUser

@{
    ViewBag.Title = "User info details";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

<div class="panel-heading">User's name: @Model.UserName</div>

<div class="panel-body">
    <i class="glyphicon glyphicon-envelope"></i>User's email: 
    <span class="label label-default">@Model.Email</span>
    <br />
    
    <i class="glyphicon glyphicon-th-list"></i>User's role: @ViewBag.roleName
    <br /><br />

    @if (@Model.PhoneNumber != null)
    {
        <i class="glyphicon glyphicon-phone"></i>@:User's phone:
        <span class="label label-default">@Model.PhoneNumber</span>
    }
</div>

@if ((string)Model.Id != ViewBag.currentUser)
{
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", 
            controllerName: "Users", 
            routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-success" type="submit">Delete user</button>
        }
    </div>
}
