@model DigitalSchoolGroupsPlatform.Models.Group
@*
    @{
        ViewBag.Title = "Edit";
    }
*@
<h2>Edit article</h2>

<form method="post" action="/Groups/Edit/@Model.Id">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("Id");
    @*@Html.HiddenFor(m => m.Id)*@

    @Html.Label("Title", "Article Title")
    <br />
    @Html.Editor("Title")  @* o sa si preia din baza de date si afiseaza campul completat*@
    <br /><br />
    @Html.Label("Content", "Article content")
    <br />
    @Html.Editor("Content", new { htmlAttributes = new { @class = "form-control" } })
    <br /><br />

    @Html.HiddenFor(m => m.Date)

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId,
    new SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Submit group changes</button>
</form>
