
@{
    ViewBag.Title = "Index";
}

<h2>News</h2>

<h1>@ViewBag.Message</h1>

@foreach (var article in ViewBag.Groups)
{
    <div class="panel panel-default">
        <div class="panel-heading">@article.Title</div>
        <div class="panel-body">
            Continut articol: <strong>@article.Content</strong>
            <br />
            <span class="label label-success">@article.Date</span>
            <br />
            <i class="glyphicon glyphicon-globe"></i> @article.Category.CategoryName
        </div>
    </div>
    <div class="panel panel-footer">
        <a class="btn btn-success btn-sm" href="/Groups/Show/@article.Id">Show article</a>
        <a class="btn btn-success btn-sm" href="/Groups/Edit/@article.Id">Edit article</a>
    </div>
}

<a class="btn btn-primary" href="/Categories/Index/">Afisare lista categorii</a>
<br />
<br />
<a class="btn btn-primary" href="/Groups/New">Add new article</a>