@{
    ViewBag.Title = "Show";
}
<br />
<a href="/Groups/Index">Back to groups main page</a>
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Group.Title</div>
    <div class="panel-body">
        Group Description: <strong>@ViewBag.Group.Description</strong>
        <br />
        <span class="label label-success">since: @ViewBag.Group.DateCreated</span>
        <br />
        <i class="glyphicon glyphicon-globe"></i> @ViewBag.Category.CategoryName
        <br />
        <hr>
        <a class="btn btn-success pull-left" href="/Groups/Edit/@ViewBag.Group.Id">
            Modify school group
        </a>

        <form method="post" action="/Groups/Delete/@ViewBag.Group.Id">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Delete school group</button>
        </form>
    </div>
</div>
